<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>timeFotmatter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>78EBC6711CB188F4003A698C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EBC68A1CB188F4003A698C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>78EBC6951CB188F4003A698C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
